In [ ]:
pandas
numpy
seaborn
matplotlib

In [1]:
# Manipulação de dados
import pandas as pd
import numpy as np

# Visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [12]:
df_dengue = pd.read_excel(r'C:\Users\00064NDUC-BrenoAzeve\pos_data_analytics\primeira_aula\Base de Dados Dengue.xlsx')

In [13]:
print(df_dengue)

                    municipio  uf data_infeccoes  qtd_infeccoes
0       ALTA FLORESTA D'OESTE  RO     2013-01-01             34
1       ALTA FLORESTA D'OESTE  RO     2013-02-01             44
2       ALTA FLORESTA D'OESTE  RO     2013-03-01             15
3       ALTA FLORESTA D'OESTE  RO     2013-04-01              4
4       ALTA FLORESTA D'OESTE  RO     2013-05-01              3
...                       ...  ..            ...            ...
728767               BRASILIA  DF     2023-08-01            939
728768               BRASILIA  DF     2023-09-01            843
728769               BRASILIA  DF     2023-10-01            686
728770               BRASILIA  DF     2023-11-01           1300
728771               BRASILIA  DF     2023-12-01           5603

[728772 rows x 4 columns]

In [14]:
df_dengue.head()

               municipio  uf data_infeccoes  qtd_infeccoes
0  ALTA FLORESTA D'OESTE  RO     2013-01-01             34
1  ALTA FLORESTA D'OESTE  RO     2013-02-01             44
2  ALTA FLORESTA D'OESTE  RO     2013-03-01             15
3  ALTA FLORESTA D'OESTE  RO     2013-04-01              4
4  ALTA FLORESTA D'OESTE  RO     2013-05-01              3

In [15]:
df_dengue.tail()

       municipio  uf data_infeccoes  qtd_infeccoes
728767  BRASILIA  DF     2023-08-01            939
728768  BRASILIA  DF     2023-09-01            843
728769  BRASILIA  DF     2023-10-01            686
728770  BRASILIA  DF     2023-11-01           1300
728771  BRASILIA  DF     2023-12-01           5603